<header class="home-header">
        <h1><a href="/">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="#create">Create</a>
                </li>
                <li>
                    <a href="#scores">Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href=#categories>Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#animals">Animals</a>
                        <a href="#coding">Coding</a>
                        <a href="#geography">Geography</a>
                        <a href="#movies">Movies</a>
                        <a href="#music">Music</a>
                        <a href="#pnw">PNW</a>
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
    <main>
        <h2> Create your very own quiz below &#8595; </h2>
    <div>
    <form class="quizform">
        <div class="container">
          
            <input type="text" id="question" placeholder="Question" name="Question" required>
            <input type="text" id="correctAnswer" placeholder="Correct Answer" name="Correct Answer" required>
            <input type="text" id="wrong1" placeholder="Wrong Answer 1" name="Wrong Answer" required>
            <input type="text" id="wrong2" placeholder="Wrong Answer 2" name="Wrong Answer" required>
            <input type="text" id="wrong3" placeholder="Wrong Answer 3" name="Wrong Answer" required>
    
            <button> Add another question </button>
            
          <button class="newuserbtn">-or- Submit your quiz!</button>
         
        </div>
     
      </form>
      </div>
    </main>
<script src="/js/logout.js"></script>