 <header class="home-header">
        <h1><a href="/">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/createQuiz">Create Quiz</a>
                </li>
                <li>
                    <a href="/scores">My Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href="#">Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        {{#each categories as |category|}}
                        <a href="/category/{{category.id}}">{{category.category_name}}</a>
                        {{/each}}
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2> High scores &#8595; </h2>

    <div class="homepage-container">
        <div class="scorebox">Animals
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <div class="scorebox">Coding
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        
        <div class="scorebox">Geography
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <div class="scorebox">Movies
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <div class="scorebox">Music
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <div class="scorebox">PNW
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
       
</main>

<script src="/js/logout.js"></script>