 <header class="home-header">
        <h1><a href="/homepage">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="#create">Create Quiz</a>
                </li>
                <li>
                    <a href="#scores">My Scores</a>
                </li>
                <li>
                    <div class="dropdown">
                    <button class="dropbtn"><a href=#categories>Categories</a>
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#animals">Animals</a>
                        <a href="#coding">Coding</a>
                        <a href="#geography">Geography</a>
                        <a href="#movies">Movies</a>
                        <a href="#music">Music</a>
                        <a href="#pnw">PNW</a>
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2> Click on a ready-made quiz below to get started... </h2>

    <div class="homepage-container">
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
    
        
</main>

<script src="/js/logout.js"></script>