 <header class="home-header">
        <h1><a href="/homepage">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="#create">Create</a>
                </li>
                <li>
                    <a href="#scores">Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href=#categories>Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#animals">Animals</a>
                        <a href="#coding">Coding</a>
                        <a href="#geography">Geography</a>
                        <a href="#movies">Movies</a>
                        <a href="#music">Music</a>
                        <a href="#pnw">PNW</a>
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2 class="welcome"> &#x26AC; Welcome to our Hub of Quizzes &#x26AC;</h2> 
    <p class="welcomesm"> 
    Links are above &#8593; and a sampling of user-made quizzes are below &#8595; </p>

    <div class="homepage-container">
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
        <div>Quiz</div>
    
        
</main>

<script src="/js/logout.js"></script>