<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Hub</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Dosis:wght@200;300&family=Gruppo&family=Licorice&family=Montserrat:wght@500&family=Permanent+Marker&family=Sacramento&family=Vujahday+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header class="login-header">
        <h1><a href=#home>Quiz Hub</a></h1>
    </header>
    <main>
        <h2> Welcome! here is our description...... </h2>
    <div>
    <form>
        <div class="container">
          <label for="email"><b>Email Address</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="newuser">New user? Click <a href="#">here</a> to sign up!</span>
        </div>
      </form>
      </div>
    </main>
</body>
</html>