 <header class="login-header">
        <h1><a href="/">Quiz Hub</a></h1>
    </header>

    <main>
        <h2 class="h2def">Quiz <span class="h2defsm">/kwiz/noun</span></h2>
        <span class="def">1. a test of knowledge, especially a brief, informal test given to students
        </span>
        <h2 class="h2def">Hub <span class="h2defsm">/həb/noun</span></h2>
        <span class="def">1. the effective center of an activity, region, or network
        </span>
        <br>
        <br>
    <div>
    <form class="login-form">
        <div class="container">
           <label for="email"><b>Email Address</b></label>
          <input type="text" id="email" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" id="psw" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
           <button class="newuserbtn"><a class="newuserhover" href="/signup">New user? Click here to sign up!</a></button>
        </div>
      </form>
      </div>
    </main>

    <script src="/js/login.js"></script>
