<header class="home-header">
        <h1><a href="/">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/createQuiz">Create</a>
                </li>
                <li>
                    <a href="/scores">Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href="#">Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        {{#each categories as |category|}}
                        <a href="/category/{{category.id}}">{{category.category_name}}</a>
                        {{/each}}
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2 id="categoryname"> Quizzes </h2>

    <div class="quizpage-container">
        <div id="quiz1"></div>
        <div id="quiz2"></div>
        <div id="quiz3"></div>
        <div id="quiz4"></div>
        <div id="quiz5"></div>
        <div id="quiz6"></div>
      
    
        
</main>

<script src="/js/logout.js"></script>