<header class="home-header">
        <h1><a href="/homepage">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="#create">Create</a>
                </li>
                <li>
                    <a href="#scores">Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href=#categories>Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#animals">Animals</a>
                        <a href="#coding">Coding</a>
                        <a href="#geography">Geography</a>
                        <a href="#movies">Movies</a>
                        <a href="#music">Music</a>
                        <a href="#pnw">PNW</a>
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2 id="categoryname"> Quizzes </h2>

    <div class="quizpage-container">
        <div id="quiz1"></div>
        <div id="quiz2"></div>
        <div id="quiz3"></div>
        <div id="quiz4"></div>
        <div id="quiz5"></div>
        <div id="quiz6"></div>
      
    
        
</main>

<script src="/js/logout.js"></script>