 <header class="login-header">
        <h1><a href="/">Quiz Hub</a></h1>
    </header>
    <main>
        <h2> Welcome to the quizside! </h2>
    <div>
    <form class="signup-form">
      
        <div class="container">
             <label for="username"><b>User Name</b></label>
          <input id= "username" type="text" placeholder="Enter Unique User Name" name="username" required>

           <label for="email"><b>Email Address</b></label>
          <input id="email" type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input id="psw" type="password" placeholder="Enter Password" name="psw" required>
          <p class="pswcrit">*Password must contain letters and numbers and be a minimum of 8 characters</p>
          <button type="submit">Register</button>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button class="newuserbtn"><a class="newuserhover" href="/login">Already a registered user? Click here to log in!</a></button>
        </div>
      </form>
      </div>
    </main>

    <script src="/js/signup.js"></script>

